html{
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	color: black;
	padding: 0;
	margin: 0;
	nav{
		position: relative;
		z-index: 1;
		width: 90%;
		background: $main-color;
		padding: 20px 5%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.site-branding{
			display: inline-block;
			width: 159px;
			img{
				width: 100%;
				height: auto;
			}
		}
		ul{
			display: inline-flex;
			align-self: flex-end;
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 40%;
			li{
				display: inline-block;
				padding: 0 20px;
				a{
					text-transform: uppercase;
					color: white;
					text-decoration: none;
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					font-weight: 500;
					font-size: 16pt;
				}
			}
		}
	}
	content{
		display: block;
		overflow: hidden;
		.row{
			display: flex;
			width: 100%;
			min-height: 400px;
			justify-content: space-between;
			max-width: 1250px;
			margin: 0 auto;
			&#one{
				padding-top: 50px;
				.section{
					.text{
						.btn{
							display: block;
							margin: 30px auto 0;
							padding: 5px;
							width: 150px;
							border: 2px solid #333;
							text-decoration: none;
							color: #333;
							text-transform: uppercase;
							font-family: 'Didact Gothic', sans-serif;
						}
					}
					&:nth-of-type(2){
						.inner{
							.bg_image{
								position: relative;
								.one{
									position: absolute;
									z-index: 2;
									width: 72%;
									height: 95%;
									display: inline-block;
									bottom: 0;
									left: 0;
									overflow: hidden;
									img{
										width: 125%;
										height: auto;
										left: -12.5%;
									}
								}
								.two{
									position: absolute;
									z-index: 1;
									width: 75%;
									height: 100%;
									display: inline-block;
									top: 0;
									overflow: hidden;
									right: 10%;
									img{
										width: auto;
										position: absolute;
										height: 105%;
										top: 0;
										left: 0;
									}
								}
								.three{
									position: absolute;
									z-index: 3;
									width: 200px;
									height: 400px;
									display: inline-block;
									top: 18%;
									right: 0;
									&:before{
										content: '';
										display: inline-block;
										width: 100%;
										height: 100%;
										position: absolute;
										top: 0;
										left: 0;
										background: white;
										z-index: 0;
									}
									&:after{
										content: '';
										display: inline-block;
										width: 100%;
										height: 90%;
										position: absolute;
										bottom: -10px;
										left: -10px;
										background: $second-color;
										z-index: -1;
									}
									img{
										width: 125%;
										position: absolute;
										height: auto;
										top: 0;
										left: -12.5%;
									}
								}
							}
						}
					}
				}
			}
			&#two{
				.section{
					&:nth-of-type(2){
						width: 52%;
						.text{
							text-align: left;
							width: 80%;
							margin-top: 50px;
							h2{
								font-size: 26pt;
								font-family: 'Libre Baskerville', serif;
							}
							p{
								line-height: 28px;
								font-size: 12pt;
							}
						}
					}
				}
			}
			&#three{
				.section{
					&:nth-of-type(1) {
						width: 30%;
						.inner {
							width: 100%;
							position: relative;
							.text {
								text-align: right;
								border-right: 1px solid #cda2ce;
								width: 85%;
								padding-right: 15%;
								h2 {
									font-size: 30pt;
									margin-bottom: -10px;
								}
								p {
									line-height: 28px;
									font-size: 12pt;
								}
							}
							.btn {
								display: block;
								margin: 30px auto 0;
								padding: 5px;
								width: 70%;
								border: 2px solid #333;
								text-decoration: none;
								color: #333;
								text-transform: uppercase;
								font-family: 'Didact Gothic', sans-serif;
								font-size: 16pt;
								&.black {
									background: black;
									color: white;
									position: absolute;
									right: 0;
								}
							}
						}
					}
					&:nth-of-type(2) {
						width: 15%;
						.inner{
							display: flex;
							justify-content: space-around;
							align-items: center;
							position: relative;
							.choose{
								font-size: 20pt;
								font-family: 'Libre Baskerville', serif;
								font-style: italic;
								position: absolute;
								width: 100px;
								right: 25%;
							}
							.arrow{
								position: absolute;
								right: -70px;
							}
						}
					}
					&.products{
						position: relative;
						margin-top: -5%;
						width: 50%;
						.prod{
							.prod_image{
								img{
									width:125%;
									left: -12.5%;
									position: relative;
								}
							}
							.text{
								.name{
									font-family: 'Libre Baskerville', serif;
									font-size: 12pt;
								}
								.desc{
									font-style: italic;
									font-size: 11pt;
								}
							}
							.btn{
								display: block;
								margin: 30px auto 0;
								padding: 5px;
								width: 60%;
								border: 2px solid #333;
								text-decoration: none;
								color: #333;
								text-transform: uppercase;
								font-family: 'Didact Gothic', sans-serif;
								font-size: 14pt;
							}
						}

					}
				}
			}
			&#four{
				.section{
					.text{
						.btn{
							display: block;
							margin: 30px auto 0;
							padding: 5px;
							width: 150px;
							border: 2px solid #333;
							text-decoration: none;
							color: #333;
							text-transform: uppercase;
							font-family: 'Didact Gothic', sans-serif;
						}
					}
					&:nth-of-type(1){
						width: 75%;
						.inner{
							.bg_image{
								position: relative;
								&:before {
									content: '';
									padding-bottom: 70%;
									display: block;
								}
								.one{
									position: absolute;
									z-index: 2;
									width: 85%;
									height: 100%;
									display: inline-block;
									bottom: 0;
									right: 0;
									overflow: hidden;
									img{
										width: 100%;
										height: auto;
										left: 0%;
									}
								}
								.two{
									position: absolute;
									z-index: 1;
									width: 60%;
									height: 80%;
									display: inline-block;
									bottom: 9px;
									overflow: hidden;
									left: 40px;
									img{
										width: auto;
										position: absolute;
										height: 105%;
										top: 0;
										left: 0;
									}
								}
							}
						}
					}
					.text {
						text-align: left;
						width: 90%;
						margin-left: 10%;
						margin-top: 250px;
						position: relative;
						h2{
							font-size: 26pt;
							font-family: 'Libre Baskerville', serif;
						}
						p{
							line-height: 28px;
							font-size: 12pt;
						}
						.btn{
							text-align: center;
							position: absolute;
							left: 0;
							margin-top: 0;
						}
					}
				}
			}
			&#five{
				display: block;
				background-image: url("../img/667481490.png");
				text-align: center;
				padding: 30px 0;
				min-height: initial !important;
				.banner{
					display: block;
					width: 100%;
					color: white;
					font-size: 32pt;
					font-family: 'Libre Baskerville', serif;
					text-transform: uppercase;
					min-height: initial !important;
					padding: 0;
				}
			}
			&#six{
				.section{
					&:nth-of-type(2){
						width: 46%;
					}
					.inner{
						.bg_image{
							position: relative;
							&:before {
								content: '';
								padding-bottom: 80%;
								display: block;
							}
							.one{
								position: absolute;
								z-index: 2;
								width: 90%;
								height: 100%;
								display: inline-block;
								bottom: 0;
								left: 0;
								overflow: hidden;
								img{
									width: 135%;
									height: auto;
									left: -15%;
									bottom: 0;
								}
							}
							.two{
								position: absolute;
								z-index: 1;
								width: 10%;
								height: 80%;
								display: inline-block;
								bottom: 0;
								overflow: hidden;
								right: 0px;
								img{
									width: auto;
									position: absolute;
									height: 100%;
									top: 0;
									right: 0;
								}
							}
						}
						.text{
							text-align: left;
							margin-top: 200px;
							h2{
								font-size: 26pt;
								font-family: 'Libre Baskerville', serif;
								text-transform: initial;
							}
							h3{
								font-weight: 700;
								text-transform: initial;
								font-size: 16pt;
								margin-top: 40px;
							}
							p{
								line-height: 28px;
								font-size: 12pt;
							}
						}
						.split{
							display: flex;
							justify-content: space-between;
							.half{
								display: inline-block;
								width: 48%;
								img{
									width: 100%;
									height: auto;
								}
							}
						}
					}
				}
			}
			&#seven {
				.section {
					.inner {
						.bg_image {
							position: relative;
							&:before {
								content: '';
								padding-bottom: 100%;
								display: block;
							}
							.one {
								position: absolute;
								z-index: 2;
								width: 90%;
								height: 90%;
								display: inline-block;
								top: 0;
								left: 0;
								overflow: hidden;
								img {
									width: 135%;
									height: auto;
									left: -15%;
									bottom: 0;
								}
							}
							.two {
								position: absolute;
								z-index: 1;
								width: 60%;
								height: 80%;
								display: inline-block;
								bottom: 0;
								overflow: hidden;
								right: 0px;
								img {
									width: auto;
									position: absolute;
									height: 100%;
									top: 0;
									right: 0;
								}
							}
						}
						.text{
							text-align: left;
							margin-top: 100px;
							h2{
								font-size: 26pt;
								font-family: 'Libre Baskerville', serif;
							}
							h3{
								font-weight: 700;
								text-transform: initial;
								font-size: 16pt;
								margin-top: 40px;
							}
							p{
								line-height: 28px;
								font-size: 12pt;
							}
						}
					}
				}
			}
			.section{
				display: inline-flex;
				width: 45%;
				text-align: center;
				min-height: 500px;
				padding: 50px 0;
				.inner {
					width: 100%;
					.bg_image {
						display: inline-block;
						width: 100%;
						position: relative;
						overflow: hidden;
						&:before {
							content: '';
							padding-bottom: 100%;
							display: block;
						}
						img {
							width: 100%;
							position: absolute;
							height: auto;
							top: 0;
							left: 0;
						}
					}
					.text {
						font-family: 'Libre Baskerville', serif;
						h2 {
							font-size: 18pt;
							text-transform: uppercase;
							font-weight: 700;
							margin-bottom: 0;
						}
						h3 {
							font-size: 10pt;
							font-weight: 400;
							text-transform: uppercase;
							margin-top: 10px;
						}
					}
				}
			}
		}
		.section{
			.main{
				color: black;
				line-height: 100px;
				font-family: 'Open Sans Condensed', sans-serif;
				line-height: inherit;
			}

		}
		.text_section{
			position: relative;
		}
	}
}
footer {
	.instagram {
		display: block;
		padding: 40px 0;
		background: $main-color;
		.insta_label {
			font-family: 'abril_fatfaceregular';
			font-weight: 300;
			font-size: 24pt;
			color: white;
			display: block;
			margin: 0 auto 30px;
			text-align: center;
		}
		ul {
			list-style: none;
			margin: 0;
			display: flex;
			padding: 0;
			justify-content: space-around;
			max-width: 1200px;
			margin: 0 auto;
			li {
				background: white;
				display: inline-flex;
				width: 19%;
				&:before {
					content: '';
					display: block;
					padding-bottom: 100%;
				}
			}
		}
	}
	.footer_inner {
		display: flex;
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 30px 0;
		.footer_section {
			display: inline-flex;
			&.one {
				width: 50%;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						display: block;
						padding: 5px 0;
						a{
							color: black;
							text-decoration: none;
							font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
							font-weight: 500;
							font-size: 11pt;
						}
					}
				}
			}
			&.two{
				display: inline-flex;
				flex-direction: column;
				width: 25%;
				label{
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					font-weight: 500;
					text-transform: uppercase;
					width: 65%;
					margin-bottom: 5px;
				}
				input{
					background: #f2f2f2;
					border: none;
					border-radius: 5px;
					height: 40px;
					padding-left: 15px;
					margin: 5px 0;
					&[type="sign up"]{
						background: transparent;
						border: 3px solid black;
						display: inline-block;
						width: 110px;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						color: black;
						font-size: 10pt;
						text-align: center;
						padding: 0;
						height: 25px;
					}
				}
				.pin_logo{
					width: 60px;
					left: -10px;
					position: relative;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			&.three {
				display: inline-flex;
				flex-direction: column;
				width: 25%;
				position: relative;
				.footer_logo{
					width: 200px;
					position: absolute;
					right: 0;
					bottom: 0;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
.credits{
	display: inline-block;
	background: black;
	padding: 15px 0;
	width: 100%;
	color: white;
	.inner{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 500;
		max-width: 1200px;
		display: block;
		width:95%;
		margin: 0 auto;
		font-size: 9pt;
		a{
			color: white;
		}
	}
}




