@media screen and (max-width: 1200px){


}
@media screen and (max-width: 1135px){

}
@media screen and (max-width: 1025px){
  body content .row#three{
    display: block;}
  body content .row#three .section:nth-of-type(1) {
    width: 90%;
    display: block;
    text-align: center;
    min-height: initial;
    margin: 0 auto;
  }
  body content .row#three .section:nth-of-type(1) .inner .btn{
    width: 100%;
  }
  body content .row#three .section:nth-of-type(2) .inner .choose{
    right: 0;
  }
  body content .row#three .section:nth-of-type(2) .inner .arrow{
    right: -100px;
  }
  body content .row#three .section.products{width: 80%;}
  body content .row#three .section.products .prod{
    width: 33.3%;
  }
}
@media screen and (max-width: 998px) {
  body content .row#three .section:nth-of-type(2){min-height: 80px;}
  body content .row#three .section:nth-of-type(2){width: 100%;}
  body content .row#three .section:nth-of-type(2) .inner .choose{text-align: center;width: 100%;}
  body content .row#three .section.products{width: 100%;padding-top: 0;}
}
@media screen and (max-width: 998px){
  body footer .footer_inner .footer_section.one{width: 35%;}
  body footer .footer_inner .footer_section.two{width: 35%;}
}
@media screen and (max-width: 885px){
  body content .row#one{display: block;}
  body content .row#one .section{width: 90%; display: block; margin: 0 auto;}
  body content .row#two{display: block;}
  body content .row#two .section{width: 90%; display: block; margin: 0 auto;min-height: initial;}
  body content .row#two .section:nth-of-type(1){padding-bottom: 0;}
  body content .row#two .section:nth-of-type(2){padding-top: 0; width: 90%;}
  body content .row#two .section:nth-of-type(2) .text{margin-top: 0; width: 100%;}
  body content .row#four{display: block;}
  body content .row#four{margin-bottom: 40px;}
  body content .row#four .section{width: 90% !important; display: block; margin: 0 auto;min-height: initial;}
  body content .row#four .section:nth-of-type(1){padding: 0;}
  body content .row#four .section:nth-of-type(2){padding-top: 0;}
  body content .row#four .section:nth-of-type(1) .inner .bg_image .one{width: 100%;}
  body content .row#four .section .text{margin: 0; width: 100%;}
  body content .row#six{display: block;}
  body content .row#six .section{width: 90% !important; display: block; margin: 0 auto;min-height: initial;}
  body content .row#six .section .inner .text{margin-top: 0;}
  body content .row#seven{display: block;}
  body content .row#seven .section{width: 90% !important; display: block; margin: 0 auto;min-height: initial;}
  body content .row#seven .section .inner .text{margin-top: 0;}
  body content .row#seven .section:nth-of-type(1){padding-bottom: 0;}
  body content .row#seven .section:nth-of-type(2){padding-top: 0;}
}

@media screen and (max-width:775px){
  body footer .instagram ul{flex-wrap: wrap;justify-content: space-between;width: 90%;}
  body footer .instagram ul li{width: 49%;margin-bottom: 10px;}
  body footer .footer_inner{flex-direction: column;}
  body footer .footer_inner .footer_section.one{width: 100%; text-align: center;}
  body footer .footer_inner .footer_section.one .footer-nav{width: 100%;}
  body footer .footer_inner .footer_section.two{width: 100%; margin: 50px 0 75px; text-align: center;}
  body footer .footer_inner .footer_section.two label{width: 100%;}
  body footer .footer_inner .footer_section.three{width: 100%;}
}

@media screen and (max-width: 531px) {
  body nav ul{
    display: none;}
}