
@font-face {
    font-family: 'altheabold';
    src: url('../fonts/althea-bold-webfont.woff2') format('woff2'),
    url('../fonts/althea-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'althearegular';
    src: url('../fonts/althea-regular-webfont.woff2') format('woff2'),
    url('../fonts/althea-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'altheasemibold';
    src: url('../fonts/althea-semibold-webfont.woff2') format('woff2'),
    url('../fonts/althea-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}