/* line 1, ../sass/home.scss */
html {
  width: 100%;
  overflow-x: hidden;
}

/* line 5, ../sass/home.scss */
body {
  width: 100%;
  background: black;
}
/* line 8, ../sass/home.scss */
body .top_section {
  display: inline-block;
  width: 100%;
}
/* line 11, ../sass/home.scss */
body .top_section .bg {
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%;
  z-index: -1;
}
/* line 17, ../sass/home.scss */
body .top_section .bg img {
  position: relative;
  width: 100%;
  height: auto;
  top: -100px;
}
/* line 24, ../sass/home.scss */
body .top_section .title_information {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 70vh;
  color: white;
}
/* line 30, ../sass/home.scss */
body .top_section .title_information h1 {
  text-transform: uppercase;
  position: relative;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 900;
  font-size: 10rem;
  letter-spacing: 10px;
  text-shadow: 0px 0px 30px black;
  margin-bottom: 30px;
  opacity: 0;
  transition: transform 0.35s cubic-bezier(0.69, -0.56, 0.41, 1.6), opacity 0.5s;
  transform: translateY(-30px);
}
/* line 43, ../sass/home.scss */
body .top_section .title_information .sub-title {
  width: 90%;
  max-width: 600px;
  font-weight: 800;
  font-size: 1.85rem;
  letter-spacing: .5px;
  font-family: 'Raleway', sans-serif !important;
  display: block;
  margin: 0 auto;
  line-height: 65px;
  color: rgba(242, 242, 242, 0.65);
  opacity: 0;
  transition: transform 0.35s cubic-bezier(0.69, -0.56, 0.41, 1.6), opacity 0.5s;
  transform: translateY(30px);
}
/* line 60, ../sass/home.scss */
body content {
  position: relative;
  margin-top: -750px;
  margin-bottom: 100px;
  display: inline-block;
  width: 100%;
}
/* line 66, ../sass/home.scss */
body content .clear {
  clear: both;
}
/* line 69, ../sass/home.scss */
body content .section {
  display: block;
  width: 90%;
  margin: 0 auto;
}
/* line 73, ../sass/home.scss */
body content .section.full {
  max-width: 1000px;
}
/* line 75, ../sass/home.scss */
body content .section.full .video {
  display: inline-block;
  width: 100%;
}
/* line 78, ../sass/home.scss */
body content .section.full .video iframe {
  width: 100%;
  display: inline-block;
  height: 450px;
}
/* line 85, ../sass/home.scss */
body content .section.half {
  max-width: 1000px;
  clear: both;
}
/* line 88, ../sass/home.scss */
body content .section.half .story_image {
  display: inline-block;
  width: 50%;
  float: left;
  margin-right: 25px;
}
/* line 94, ../sass/home.scss */
body content .section.half .video {
  display: inline-block;
  width: 50%;
  float: left;
  margin-right: 25px;
}
/* line 99, ../sass/home.scss */
body content .section.half .video iframe {
  width: 100%;
  display: inline-block;
  height: 300px;
}
/* line 106, ../sass/home.scss */
body content .section.quarter {
  max-width: 1000px;
}
/* line 108, ../sass/home.scss */
body content .section.quarter .inner {
  width: 25%;
  margin: 0 -3px;
  display: inline-block;
}
/* line 112, ../sass/home.scss */
body content .section.quarter .inner .story_image {
  display: block;
  width: 95%;
  height: 140px;
  overflow: hidden;
}
/* line 120, ../sass/home.scss */
body content .section .story_image {
  width: 100%;
  display: inline-block;
  border: 1px solid white;
  height: auto;
}
/* line 125, ../sass/home.scss */
body content .section .story_image img {
  width: 100%;
  height: auto;
}
/* line 130, ../sass/home.scss */
body content .section .video {
  border: 1px solid white;
}
/* line 133, ../sass/home.scss */
body content .section h2 {
  font-family: 'Raleway', sans-serif !important;
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 28px;
  margin: 15px 0 0 0;
}
/* line 141, ../sass/home.scss */
body content .section p {
  font-family: Helvetica, Arial, 'sans-serif';
  color: white;
  font-size: .8rem;
  line-height: 26px;
}
/* line 147, ../sass/home.scss */
body content .section .button {
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: black;
  background: white;
  font-size: .7rem;
  opacity: .5;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.69, -0.56, 0.41, 1.6);
  cursor: pointer;
}
/* line 160, ../sass/home.scss */
body content .section .button:hover {
  opacity: 1;
  padding-right: 15px;
}
/* line 163, ../sass/home.scss */
body content .section .button:hover:after {
  margin-left: 15px;
  opacity: 1;
}
/* line 168, ../sass/home.scss */
body content .section .button:after {
  content: '>';
  display: inline-block;
  top: -1px;
  position: relative;
  left: 0px;
  opacity: 0;
  transition: 0.2s 0.1s cubic-bezier(0.69, -0.56, 0.41, 1.6);
}
/* line 179, ../sass/home.scss */
body content .divider {
  display: inline-block;
  width: 100%;
  height: 50px;
  background: white;
  margin: 50px 0;
}
/* line 185, ../sass/home.scss */
body content .divider#one {
  background: url(../img/thread1.png) no-repeat;
  background-size: 100%;
}
/* line 189, ../sass/home.scss */
body content .divider#two {
  background: url(../img/thread2.png) no-repeat;
  background-size: 100%;
}
/* line 193, ../sass/home.scss */
body content .divider#three {
  background: url(../img/thread3.png) no-repeat;
  background-size: 100%;
}
/* line 197, ../sass/home.scss */
body content .divider#four {
  background: url(../img/thread4.png) no-repeat;
  background-size: 100%;
}
/* line 201, ../sass/home.scss */
body content .divider#five {
  background: url(../img/thread5.png) no-repeat;
  background-size: 100%;
}

/* line 208, ../sass/home.scss */
.already-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* line 212, ../sass/home.scss */
.fadeIn {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media screen and (max-width: 1745px) {
  /* line 2, ../sass/media.scss */
  body content {
    margin-top: -600px;
  }
}
@media screen and (max-width: 1650px) {
  /* line 5, ../sass/media.scss */
  body .top_section .title_information {
    top: 60vh;
  }

  /* line 6, ../sass/media.scss */
  body content {
    margin-top: -450px;
  }
}
@media screen and (max-width: 1425px) {
  /* line 9, ../sass/media.scss */
  body .top_section .title_information {
    top: 50vh;
  }

  /* line 10, ../sass/media.scss */
  body .top_section .title_information h1 {
    font-size: 8rem;
  }

  /* line 11, ../sass/media.scss */
  body .top_section .title_information .sub-title {
    line-height: 50px;
  }
}
@media screen and (max-width: 1265px) {
  /* line 14, ../sass/media.scss */
  body .top_section .title_information {
    top: 45vh;
  }
}
@media screen and (max-width: 1165px) {
  /* line 17, ../sass/media.scss */
  body .top_section .title_information {
    top: 42vh;
  }

  /* line 18, ../sass/media.scss */
  body .top_section .title_information h1 {
    font-size: 6rem;
  }

  /* line 19, ../sass/media.scss */
  body content .section.half .video iframe {
    height: 250px;
  }
}
@media screen and (max-width: 1123px) {
  /* line 22, ../sass/media.scss */
  body .top_section .title_information {
    top: 35vh;
  }

  /* line 23, ../sass/media.scss */
  body content {
    margin-top: -350px;
  }
}
@media screen and (max-width: 1015px) {
  /* line 26, ../sass/media.scss */
  body content {
    margin-top: 200px;
  }
}
@media screen and (max-width: 925px) {
  /* line 29, ../sass/media.scss */
  body .top_section .title_information h1 {
    font-size: 5rem;
  }

  /* line 30, ../sass/media.scss */
  body .top_section .title_information .sub-title {
    font-size: 1.5rem;
  }

  /* line 31, ../sass/media.scss */
  body content .section.half .video iframe {
    height: 200px;
  }
}
@media screen and (max-width: 825px) {
  /* line 34, ../sass/media.scss */
  body .top_section .title_information {
    top: 30vh;
  }

  /* line 35, ../sass/media.scss */
  body .top_section .title_information h1 {
    font-size: 3.5rem;
  }

  /* line 36, ../sass/media.scss */
  body .top_section .title_information .sub-title {
    font-size: 1.15rem;
    line-height: 40px;
    max-width: 400px;
  }

  /* line 37, ../sass/media.scss */
  body content .section.half .video iframe {
    height: 250px;
  }
}
@media screen and (max-width: 675px) {
  /* line 40, ../sass/media.scss */
  body .top_section .title_information {
    top: 25vh;
  }

  /* line 41, ../sass/media.scss */
  body .top_section .title_information h1 {
    font-size: 3rem;
  }

  /* line 42, ../sass/media.scss */
  body .top_section .title_information .sub-title {
    font-size: 1rem;
    line-height: 30px;
    max-width: 350px;
  }

  /* line 43, ../sass/media.scss */
  body content {
    margin-top: -100px;
  }

  /* line 44, ../sass/media.scss */
  body content .section.half .video {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 45, ../sass/media.scss */
  body content .section.half .video iframe {
    height: 275px;
  }

  /* line 46, ../sass/media.scss */
  body content .section.full .video iframe {
    height: 275px;
  }

  /* line 47, ../sass/media.scss */
  body content .section.quarter .inner {
    width: 50%;
    margin-bottom: 20px;
  }

  /* line 48, ../sass/media.scss */
  body content .section.quarter .inner .story_image img {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 550px) {
  /* line 51, ../sass/media.scss */
  body .top_section {
    top: 80px;
    position: relative;
  }

  /* line 52, ../sass/media.scss */
  body .top_section .title_information {
    top: 0;
  }

  /* line 53, ../sass/media.scss */
  body .top_section .title_information h1 {
    font-size: 2.5rem;
  }

  /* line 54, ../sass/media.scss */
  body content {
    margin-top: 0;
  }

  /* line 55, ../sass/media.scss */
  body content .divider {
    background-size: 500% !important;
    background-position: 50% 0 !important;
  }

  /* line 56, ../sass/media.scss */
  body content .section .button {
    width: 100% !important;
    text-align: center;
  }

  /* line 57, ../sass/media.scss */
  body content .section.quarter .inner {
    width: 100%;
    margin-bottom: 40px;
  }

  /* line 58, ../sass/media.scss */
  body content .section.quarter .inner .story_image {
    height: 200px;
  }

  /* line 59, ../sass/media.scss */
  body content .section.half .story_image {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 445px) {
  /* line 62, ../sass/media.scss */
  body .top_section.title_information {
    top: -60px;
  }

  /* line 63, ../sass/media.scss */
  body .top_section .title_information h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }

  /* line 64, ../sass/media.scss */
  body content {
    top: -100px;
  }
}
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, ../sass/main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/* line 29, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 34, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 43, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 58, ../sass/main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 71, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 89, ../sass/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/* line 124, ../sass/main.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
/* line 137, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 157, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 174, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 190, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 196, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 224, ../sass/main.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 234, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 239, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 243, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 252, ../sass/main.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 257, ../sass/main.scss */
  pre {
    white-space: pre-wrap !important;
  }

  /* line 260, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 271, ../sass/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 275, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 280, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 287, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, ../sass/normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, ../sass/normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, ../sass/normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, ../sass/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, ../sass/normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, ../sass/normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, ../sass/normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, ../sass/normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, ../sass/normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../sass/normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../sass/normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../sass/normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, ../sass/normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, ../sass/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, ../sass/normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, ../sass/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, ../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, ../sass/normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, ../sass/normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, ../sass/normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, ../sass/normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, ../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, ../sass/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, ../sass/normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, ../sass/normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, ../sass/normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, ../sass/normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, ../sass/normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, ../sass/normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, ../sass/normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, ../sass/normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, ../sass/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, ../sass/normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, ../sass/normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, ../sass/normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, ../sass/normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, ../sass/normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, ../sass/normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, ../sass/normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, ../sass/normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, ../sass/normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, ../sass/normalize.scss */
[hidden] {
  display: none;
}
