@media screen and (max-width: 1025px) {
  /* line 9, ../sass/media.scss */
  body content .row#three {
    display: block;
  }

  /* line 11, ../sass/media.scss */
  body content .row#three .section:nth-of-type(1) {
    width: 90%;
    display: block;
    text-align: center;
    min-height: initial;
    margin: 0 auto;
  }

  /* line 18, ../sass/media.scss */
  body content .row#three .section:nth-of-type(1) .inner .btn {
    width: 100%;
  }

  /* line 21, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) .inner .choose {
    right: 0;
  }

  /* line 24, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) .inner .arrow {
    right: -100px;
  }

  /* line 27, ../sass/media.scss */
  body content .row#three .section.products {
    width: 80%;
  }

  /* line 28, ../sass/media.scss */
  body content .row#three .section.products .prod {
    width: 33.3%;
  }
}
@media screen and (max-width: 998px) {
  /* line 33, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) {
    min-height: 80px;
  }

  /* line 34, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) {
    width: 100%;
  }

  /* line 35, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) .inner .choose {
    text-align: center;
    width: 100%;
  }

  /* line 36, ../sass/media.scss */
  body content .row#three .section.products {
    width: 100%;
    padding-top: 0;
  }
}
@media screen and (max-width: 998px) {
  /* line 39, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 35%;
  }

  /* line 40, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 35%;
  }
}
@media screen and (max-width: 885px) {
  /* line 43, ../sass/media.scss */
  body content .row#one {
    display: block;
  }

  /* line 44, ../sass/media.scss */
  body content .row#one .section {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  /* line 45, ../sass/media.scss */
  body content .row#two {
    display: block;
  }

  /* line 46, ../sass/media.scss */
  body content .row#two .section {
    width: 90%;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 47, ../sass/media.scss */
  body content .row#two .section:nth-of-type(1) {
    padding-bottom: 0;
  }

  /* line 48, ../sass/media.scss */
  body content .row#two .section:nth-of-type(2) {
    padding-top: 0;
    width: 90%;
  }

  /* line 49, ../sass/media.scss */
  body content .row#two .section:nth-of-type(2) .text {
    margin-top: 0;
    width: 100%;
  }

  /* line 50, ../sass/media.scss */
  body content .row#four {
    display: block;
  }

  /* line 51, ../sass/media.scss */
  body content .row#four {
    margin-bottom: 40px;
  }

  /* line 52, ../sass/media.scss */
  body content .row#four .section {
    width: 90% !important;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 53, ../sass/media.scss */
  body content .row#four .section:nth-of-type(1) {
    padding: 0;
  }

  /* line 54, ../sass/media.scss */
  body content .row#four .section:nth-of-type(2) {
    padding-top: 0;
  }

  /* line 55, ../sass/media.scss */
  body content .row#four .section:nth-of-type(1) .inner .bg_image .one {
    width: 100%;
  }

  /* line 56, ../sass/media.scss */
  body content .row#four .section .text {
    margin: 0;
    width: 100%;
  }

  /* line 57, ../sass/media.scss */
  body content .row#six {
    display: block;
  }

  /* line 58, ../sass/media.scss */
  body content .row#six .section {
    width: 90% !important;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 59, ../sass/media.scss */
  body content .row#six .section .inner .text {
    margin-top: 0;
  }

  /* line 60, ../sass/media.scss */
  body content .row#seven {
    display: block;
  }

  /* line 61, ../sass/media.scss */
  body content .row#seven .section {
    width: 90% !important;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 62, ../sass/media.scss */
  body content .row#seven .section .inner .text {
    margin-top: 0;
  }

  /* line 63, ../sass/media.scss */
  body content .row#seven .section:nth-of-type(1) {
    padding-bottom: 0;
  }

  /* line 64, ../sass/media.scss */
  body content .row#seven .section:nth-of-type(2) {
    padding-top: 0;
  }
}
@media screen and (max-width: 775px) {
  /* line 68, ../sass/media.scss */
  body footer .instagram ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  /* line 69, ../sass/media.scss */
  body footer .instagram ul li {
    width: 49%;
    margin-bottom: 10px;
  }

  /* line 70, ../sass/media.scss */
  body footer .footer_inner {
    flex-direction: column;
  }

  /* line 71, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 100%;
    text-align: center;
  }

  /* line 72, ../sass/media.scss */
  body footer .footer_inner .footer_section.one .footer-nav {
    width: 100%;
  }

  /* line 73, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 100%;
    margin: 50px 0 75px;
    text-align: center;
  }

  /* line 74, ../sass/media.scss */
  body footer .footer_inner .footer_section.two label {
    width: 100%;
  }

  /* line 75, ../sass/media.scss */
  body footer .footer_inner .footer_section.three {
    width: 100%;
  }
}
@media screen and (max-width: 531px) {
  /* line 79, ../sass/media.scss */
  body nav ul {
    display: none;
  }
}
