/* line 1, ../sass/home.scss */
html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/home.scss */
body {
  width: 100%;
  color: black;
  padding: 0;
  margin: 0;
}
/* line 12, ../sass/home.scss */
body nav {
  position: relative;
  z-index: 1;
  width: 90%;
  background: #cda2ce;
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 21, ../sass/home.scss */
body nav .site-branding {
  display: inline-block;
  width: 159px;
}
/* line 24, ../sass/home.scss */
body nav .site-branding img {
  width: 100%;
  height: auto;
}
/* line 29, ../sass/home.scss */
body nav ul {
  display: inline-flex;
  align-self: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40%;
}
/* line 37, ../sass/home.scss */
body nav ul li {
  display: inline-block;
  padding: 0 20px;
}
/* line 40, ../sass/home.scss */
body nav ul li a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 16pt;
}
/* line 51, ../sass/home.scss */
body content {
  display: block;
  overflow: hidden;
}
/* line 54, ../sass/home.scss */
body content .row {
  display: flex;
  width: 100%;
  min-height: 400px;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
}
/* line 61, ../sass/home.scss */
body content .row#one {
  padding-top: 50px;
}
/* line 65, ../sass/home.scss */
body content .row#one .section .text .btn {
  display: block;
  margin: 30px auto 0;
  padding: 5px;
  width: 150px;
  border: 2px solid #333;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
}
/* line 79, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image {
  position: relative;
}
/* line 81, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .one {
  position: absolute;
  z-index: 2;
  width: 72%;
  height: 95%;
  display: inline-block;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/* line 90, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .one img {
  width: 125%;
  height: auto;
  left: -12.5%;
}
/* line 96, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .two {
  position: absolute;
  z-index: 1;
  width: 75%;
  height: 100%;
  display: inline-block;
  top: 0;
  overflow: hidden;
  right: 10%;
}
/* line 105, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .two img {
  width: auto;
  position: absolute;
  height: 105%;
  top: 0;
  left: 0;
}
/* line 113, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .three {
  position: absolute;
  z-index: 3;
  width: 200px;
  height: 400px;
  display: inline-block;
  top: 18%;
  right: 0;
}
/* line 121, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .three:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 0;
}
/* line 132, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .three:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background: #93a278;
  z-index: -1;
}
/* line 143, ../sass/home.scss */
body content .row#one .section:nth-of-type(2) .inner .bg_image .three img {
  width: 125%;
  position: absolute;
  height: auto;
  top: 0;
  left: -12.5%;
}
/* line 158, ../sass/home.scss */
body content .row#two .section:nth-of-type(2) {
  width: 52%;
}
/* line 160, ../sass/home.scss */
body content .row#two .section:nth-of-type(2) .text {
  text-align: left;
  width: 80%;
  margin-top: 50px;
}
/* line 164, ../sass/home.scss */
body content .row#two .section:nth-of-type(2) .text h2 {
  font-size: 26pt;
  font-family: 'Libre Baskerville', serif;
}
/* line 168, ../sass/home.scss */
body content .row#two .section:nth-of-type(2) .text p {
  line-height: 28px;
  font-size: 12pt;
}
/* line 178, ../sass/home.scss */
body content .row#three .section:nth-of-type(1) {
  width: 30%;
}
/* line 180, ../sass/home.scss */
body content .row#three .section:nth-of-type(1) .inner {
  width: 100%;
  position: relative;
}
/* line 183, ../sass/home.scss */
body content .row#three .section:nth-of-type(1) .inner .text {
  text-align: right;
  border-right: 1px solid #cda2ce;
  width: 85%;
  padding-right: 15%;
}
/* line 188, ../sass/home.scss */
body content .row#three .section:nth-of-type(1) .inner .text h2 {
  font-size: 30pt;
  margin-bottom: -10px;
}
/* line 192, ../sass/home.scss */
body content .row#three .section:nth-of-type(1) .inner .text p {
  line-height: 28px;
  font-size: 12pt;
}
/* line 197, ../sass/home.scss */
body content .row#three .section:nth-of-type(1) .inner .btn {
  display: block;
  margin: 30px auto 0;
  padding: 5px;
  width: 70%;
  border: 2px solid #333;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16pt;
}
/* line 208, ../sass/home.scss */
body content .row#three .section:nth-of-type(1) .inner .btn.black {
  background: black;
  color: white;
  position: absolute;
  right: 0;
}
/* line 217, ../sass/home.scss */
body content .row#three .section:nth-of-type(2) {
  width: 15%;
}
/* line 219, ../sass/home.scss */
body content .row#three .section:nth-of-type(2) .inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
/* line 224, ../sass/home.scss */
body content .row#three .section:nth-of-type(2) .inner .choose {
  font-size: 20pt;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  position: absolute;
  width: 100px;
  right: 25%;
}
/* line 232, ../sass/home.scss */
body content .row#three .section:nth-of-type(2) .inner .arrow {
  position: absolute;
  right: -70px;
}
/* line 238, ../sass/home.scss */
body content .row#three .section.products {
  position: relative;
  margin-top: -5%;
  width: 50%;
}
/* line 244, ../sass/home.scss */
body content .row#three .section.products .prod .prod_image img {
  width: 125%;
  left: -12.5%;
  position: relative;
}
/* line 251, ../sass/home.scss */
body content .row#three .section.products .prod .text .name {
  font-family: 'Libre Baskerville', serif;
  font-size: 12pt;
}
/* line 255, ../sass/home.scss */
body content .row#three .section.products .prod .text .desc {
  font-style: italic;
  font-size: 11pt;
}
/* line 260, ../sass/home.scss */
body content .row#three .section.products .prod .btn {
  display: block;
  margin: 30px auto 0;
  padding: 5px;
  width: 60%;
  border: 2px solid #333;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14pt;
}
/* line 280, ../sass/home.scss */
body content .row#four .section .text .btn {
  display: block;
  margin: 30px auto 0;
  padding: 5px;
  width: 150px;
  border: 2px solid #333;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
}
/* line 292, ../sass/home.scss */
body content .row#four .section:nth-of-type(1) {
  width: 75%;
}
/* line 295, ../sass/home.scss */
body content .row#four .section:nth-of-type(1) .inner .bg_image {
  position: relative;
}
/* line 297, ../sass/home.scss */
body content .row#four .section:nth-of-type(1) .inner .bg_image:before {
  content: '';
  padding-bottom: 70%;
  display: block;
}
/* line 302, ../sass/home.scss */
body content .row#four .section:nth-of-type(1) .inner .bg_image .one {
  position: absolute;
  z-index: 2;
  width: 85%;
  height: 100%;
  display: inline-block;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
/* line 311, ../sass/home.scss */
body content .row#four .section:nth-of-type(1) .inner .bg_image .one img {
  width: 100%;
  height: auto;
  left: 0%;
}
/* line 317, ../sass/home.scss */
body content .row#four .section:nth-of-type(1) .inner .bg_image .two {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 80%;
  display: inline-block;
  bottom: 9px;
  overflow: hidden;
  left: 40px;
}
/* line 326, ../sass/home.scss */
body content .row#four .section:nth-of-type(1) .inner .bg_image .two img {
  width: auto;
  position: absolute;
  height: 105%;
  top: 0;
  left: 0;
}
/* line 337, ../sass/home.scss */
body content .row#four .section .text {
  text-align: left;
  width: 90%;
  margin-left: 10%;
  margin-top: 250px;
  position: relative;
}
/* line 343, ../sass/home.scss */
body content .row#four .section .text h2 {
  font-size: 26pt;
  font-family: 'Libre Baskerville', serif;
}
/* line 347, ../sass/home.scss */
body content .row#four .section .text p {
  line-height: 28px;
  font-size: 12pt;
}
/* line 351, ../sass/home.scss */
body content .row#four .section .text .btn {
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 0;
}
/* line 360, ../sass/home.scss */
body content .row#five {
  display: block;
  background-image: url("../img/667481490.png");
  text-align: center;
  padding: 30px 0;
  min-height: initial !important;
}
/* line 366, ../sass/home.scss */
body content .row#five .banner {
  display: block;
  width: 100%;
  color: white;
  font-size: 32pt;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  min-height: initial !important;
  padding: 0;
}
/* line 379, ../sass/home.scss */
body content .row#six .section:nth-of-type(2) {
  width: 46%;
}
/* line 383, ../sass/home.scss */
body content .row#six .section .inner .bg_image {
  position: relative;
}
/* line 385, ../sass/home.scss */
body content .row#six .section .inner .bg_image:before {
  content: '';
  padding-bottom: 80%;
  display: block;
}
/* line 390, ../sass/home.scss */
body content .row#six .section .inner .bg_image .one {
  position: absolute;
  z-index: 2;
  width: 90%;
  height: 100%;
  display: inline-block;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/* line 399, ../sass/home.scss */
body content .row#six .section .inner .bg_image .one img {
  width: 135%;
  height: auto;
  left: -15%;
  bottom: 0;
}
/* line 406, ../sass/home.scss */
body content .row#six .section .inner .bg_image .two {
  position: absolute;
  z-index: 1;
  width: 10%;
  height: 80%;
  display: inline-block;
  bottom: 0;
  overflow: hidden;
  right: 0px;
}
/* line 415, ../sass/home.scss */
body content .row#six .section .inner .bg_image .two img {
  width: auto;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
/* line 424, ../sass/home.scss */
body content .row#six .section .inner .text {
  text-align: left;
  margin-top: 200px;
}
/* line 427, ../sass/home.scss */
body content .row#six .section .inner .text h2 {
  font-size: 26pt;
  font-family: 'Libre Baskerville', serif;
  text-transform: initial;
}
/* line 432, ../sass/home.scss */
body content .row#six .section .inner .text h3 {
  font-weight: 700;
  text-transform: initial;
  font-size: 16pt;
  margin-top: 40px;
}
/* line 438, ../sass/home.scss */
body content .row#six .section .inner .text p {
  line-height: 28px;
  font-size: 12pt;
}
/* line 443, ../sass/home.scss */
body content .row#six .section .inner .split {
  display: flex;
  justify-content: space-between;
}
/* line 446, ../sass/home.scss */
body content .row#six .section .inner .split .half {
  display: inline-block;
  width: 48%;
}
/* line 449, ../sass/home.scss */
body content .row#six .section .inner .split .half img {
  width: 100%;
  height: auto;
}
/* line 461, ../sass/home.scss */
body content .row#seven .section .inner .bg_image {
  position: relative;
}
/* line 463, ../sass/home.scss */
body content .row#seven .section .inner .bg_image:before {
  content: '';
  padding-bottom: 100%;
  display: block;
}
/* line 468, ../sass/home.scss */
body content .row#seven .section .inner .bg_image .one {
  position: absolute;
  z-index: 2;
  width: 90%;
  height: 90%;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 477, ../sass/home.scss */
body content .row#seven .section .inner .bg_image .one img {
  width: 135%;
  height: auto;
  left: -15%;
  bottom: 0;
}
/* line 484, ../sass/home.scss */
body content .row#seven .section .inner .bg_image .two {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 80%;
  display: inline-block;
  bottom: 0;
  overflow: hidden;
  right: 0px;
}
/* line 493, ../sass/home.scss */
body content .row#seven .section .inner .bg_image .two img {
  width: auto;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
/* line 502, ../sass/home.scss */
body content .row#seven .section .inner .text {
  text-align: left;
  margin-top: 100px;
}
/* line 505, ../sass/home.scss */
body content .row#seven .section .inner .text h2 {
  font-size: 26pt;
  font-family: 'Libre Baskerville', serif;
}
/* line 509, ../sass/home.scss */
body content .row#seven .section .inner .text h3 {
  font-weight: 700;
  text-transform: initial;
  font-size: 16pt;
  margin-top: 40px;
}
/* line 515, ../sass/home.scss */
body content .row#seven .section .inner .text p {
  line-height: 28px;
  font-size: 12pt;
}
/* line 523, ../sass/home.scss */
body content .row .section {
  display: inline-flex;
  width: 45%;
  text-align: center;
  min-height: 500px;
  padding: 50px 0;
}
/* line 529, ../sass/home.scss */
body content .row .section .inner {
  width: 100%;
}
/* line 531, ../sass/home.scss */
body content .row .section .inner .bg_image {
  display: inline-block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 536, ../sass/home.scss */
body content .row .section .inner .bg_image:before {
  content: '';
  padding-bottom: 100%;
  display: block;
}
/* line 541, ../sass/home.scss */
body content .row .section .inner .bg_image img {
  width: 100%;
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
}
/* line 549, ../sass/home.scss */
body content .row .section .inner .text {
  font-family: 'Libre Baskerville', serif;
}
/* line 551, ../sass/home.scss */
body content .row .section .inner .text h2 {
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}
/* line 557, ../sass/home.scss */
body content .row .section .inner .text h3 {
  font-size: 10pt;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
}
/* line 568, ../sass/home.scss */
body content .section .main {
  color: black;
  line-height: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: inherit;
}
/* line 576, ../sass/home.scss */
body content .text_section {
  position: relative;
}

/* line 582, ../sass/home.scss */
footer .instagram {
  display: block;
  padding: 40px 0;
  background: #cda2ce;
}
/* line 586, ../sass/home.scss */
footer .instagram .insta_label {
  font-family: 'abril_fatfaceregular';
  font-weight: 300;
  font-size: 24pt;
  color: white;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
/* line 595, ../sass/home.scss */
footer .instagram ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 603, ../sass/home.scss */
footer .instagram ul li {
  background: white;
  display: inline-flex;
  width: 19%;
}
/* line 607, ../sass/home.scss */
footer .instagram ul li:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/* line 615, ../sass/home.scss */
footer .footer_inner {
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 621, ../sass/home.scss */
footer .footer_inner .footer_section {
  display: inline-flex;
}
/* line 623, ../sass/home.scss */
footer .footer_inner .footer_section.one {
  width: 50%;
}
/* line 625, ../sass/home.scss */
footer .footer_inner .footer_section.one ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 629, ../sass/home.scss */
footer .footer_inner .footer_section.one ul li {
  display: block;
  padding: 5px 0;
}
/* line 632, ../sass/home.scss */
footer .footer_inner .footer_section.one ul li a {
  color: black;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 11pt;
}
/* line 642, ../sass/home.scss */
footer .footer_inner .footer_section.two {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
}
/* line 646, ../sass/home.scss */
footer .footer_inner .footer_section.two label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  width: 65%;
  margin-bottom: 5px;
}
/* line 653, ../sass/home.scss */
footer .footer_inner .footer_section.two input {
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding-left: 15px;
  margin: 5px 0;
}
/* line 660, ../sass/home.scss */
footer .footer_inner .footer_section.two input[type="sign up"] {
  background: transparent;
  border: 3px solid black;
  display: inline-block;
  width: 110px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: black;
  font-size: 10pt;
  text-align: center;
  padding: 0;
  height: 25px;
}
/* line 675, ../sass/home.scss */
footer .footer_inner .footer_section.two .pin_logo {
  width: 60px;
  left: -10px;
  position: relative;
}
/* line 679, ../sass/home.scss */
footer .footer_inner .footer_section.two .pin_logo img {
  width: 100%;
  height: auto;
}
/* line 685, ../sass/home.scss */
footer .footer_inner .footer_section.three {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  position: relative;
}
/* line 690, ../sass/home.scss */
footer .footer_inner .footer_section.three .footer_logo {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 695, ../sass/home.scss */
footer .footer_inner .footer_section.three .footer_logo img {
  width: 100%;
  height: auto;
}

/* line 704, ../sass/home.scss */
.credits {
  display: inline-block;
  background: black;
  padding: 15px 0;
  width: 100%;
  color: white;
}
/* line 710, ../sass/home.scss */
.credits .inner {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  max-width: 1200px;
  display: block;
  width: 95%;
  margin: 0 auto;
  font-size: 9pt;
}
/* line 718, ../sass/home.scss */
.credits .inner a {
  color: white;
}

@media screen and (max-width: 1025px) {
  /* line 9, ../sass/media.scss */
  body content .row#three {
    display: block;
  }

  /* line 11, ../sass/media.scss */
  body content .row#three .section:nth-of-type(1) {
    width: 90%;
    display: block;
    text-align: center;
    min-height: initial;
    margin: 0 auto;
  }

  /* line 18, ../sass/media.scss */
  body content .row#three .section:nth-of-type(1) .inner .btn {
    width: 100%;
  }

  /* line 21, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) .inner .choose {
    right: 0;
  }

  /* line 24, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) .inner .arrow {
    right: -100px;
  }

  /* line 27, ../sass/media.scss */
  body content .row#three .section.products {
    width: 80%;
  }

  /* line 28, ../sass/media.scss */
  body content .row#three .section.products .prod {
    width: 33.3%;
  }
}
@media screen and (max-width: 998px) {
  /* line 33, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) {
    min-height: 80px;
  }

  /* line 34, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) {
    width: 100%;
  }

  /* line 35, ../sass/media.scss */
  body content .row#three .section:nth-of-type(2) .inner .choose {
    text-align: center;
    width: 100%;
  }

  /* line 36, ../sass/media.scss */
  body content .row#three .section.products {
    width: 100%;
    padding-top: 0;
  }
}
@media screen and (max-width: 998px) {
  /* line 39, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 35%;
  }

  /* line 40, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 35%;
  }
}
@media screen and (max-width: 885px) {
  /* line 43, ../sass/media.scss */
  body content .row#one {
    display: block;
  }

  /* line 44, ../sass/media.scss */
  body content .row#one .section {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  /* line 45, ../sass/media.scss */
  body content .row#two {
    display: block;
  }

  /* line 46, ../sass/media.scss */
  body content .row#two .section {
    width: 90%;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 47, ../sass/media.scss */
  body content .row#two .section:nth-of-type(1) {
    padding-bottom: 0;
  }

  /* line 48, ../sass/media.scss */
  body content .row#two .section:nth-of-type(2) {
    padding-top: 0;
    width: 90%;
  }

  /* line 49, ../sass/media.scss */
  body content .row#two .section:nth-of-type(2) .text {
    margin-top: 0;
    width: 100%;
  }

  /* line 50, ../sass/media.scss */
  body content .row#four {
    display: block;
  }

  /* line 51, ../sass/media.scss */
  body content .row#four {
    margin-bottom: 40px;
  }

  /* line 52, ../sass/media.scss */
  body content .row#four .section {
    width: 90% !important;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 53, ../sass/media.scss */
  body content .row#four .section:nth-of-type(1) {
    padding: 0;
  }

  /* line 54, ../sass/media.scss */
  body content .row#four .section:nth-of-type(2) {
    padding-top: 0;
  }

  /* line 55, ../sass/media.scss */
  body content .row#four .section:nth-of-type(1) .inner .bg_image .one {
    width: 100%;
  }

  /* line 56, ../sass/media.scss */
  body content .row#four .section .text {
    margin: 0;
    width: 100%;
  }

  /* line 57, ../sass/media.scss */
  body content .row#six {
    display: block;
  }

  /* line 58, ../sass/media.scss */
  body content .row#six .section {
    width: 90% !important;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 59, ../sass/media.scss */
  body content .row#six .section .inner .text {
    margin-top: 0;
  }

  /* line 60, ../sass/media.scss */
  body content .row#seven {
    display: block;
  }

  /* line 61, ../sass/media.scss */
  body content .row#seven .section {
    width: 90% !important;
    display: block;
    margin: 0 auto;
    min-height: initial;
  }

  /* line 62, ../sass/media.scss */
  body content .row#seven .section .inner .text {
    margin-top: 0;
  }

  /* line 63, ../sass/media.scss */
  body content .row#seven .section:nth-of-type(1) {
    padding-bottom: 0;
  }

  /* line 64, ../sass/media.scss */
  body content .row#seven .section:nth-of-type(2) {
    padding-top: 0;
  }
}
@media screen and (max-width: 775px) {
  /* line 68, ../sass/media.scss */
  body footer .instagram ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  /* line 69, ../sass/media.scss */
  body footer .instagram ul li {
    width: 49%;
    margin-bottom: 10px;
  }

  /* line 70, ../sass/media.scss */
  body footer .footer_inner {
    flex-direction: column;
  }

  /* line 71, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 100%;
    text-align: center;
  }

  /* line 72, ../sass/media.scss */
  body footer .footer_inner .footer_section.one .footer-nav {
    width: 100%;
  }

  /* line 73, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 100%;
    margin: 50px 0 75px;
    text-align: center;
  }

  /* line 74, ../sass/media.scss */
  body footer .footer_inner .footer_section.two label {
    width: 100%;
  }

  /* line 75, ../sass/media.scss */
  body footer .footer_inner .footer_section.three {
    width: 100%;
  }
}
@media screen and (max-width: 531px) {
  /* line 79, ../sass/media.scss */
  body nav ul {
    display: none;
  }
}
